/out/production/Katas/com/yojik/katas/solutions/Prime.class
/out/production/Katas/com/yojik/katas/sandboxes/PrimeSandbox.class
/out/production/Katas/com/yojik/katas/tests/PrimeTest.class
/out/production/Katas/com/yojik/katas/sandboxes/Sandbox.class
/.idea/uiDesigner.xml
